<section id="userBookings">
  <h1 class="page-title text-center">My Bookings</h1>
  <div class="row mt-5">
     <ng-container *ngIf="userBookings && userBookings.length > 0"> <!-- Check for bookings length -->
      <div class="col-md-4" *ngFor="let booking of userBookings"> <!-- Iterate bookings here -->
        <div class="card text-center">
          <div class="card-header">
            {{ booking.rental ? booking.rental.category : 'Rental deleted' }}
          </div>
          <div class="card-block" *ngIf="booking.rental">
            <h4 class="card-title">{{ booking.rental.title }} - {{ booking.rental.city | ucwords }} </h4> <!-- rental title and city -->
            <p class="card-text booking-desc">{{ booking.rental.description }}</p> <!-- rental description -->
            <p class="card-text booking-days"> {{ booking.startAt}} - {{ booking.endAt }} | {{ booking.days }} days</p> <!-- booking startAt - endAt | days -->
            <p class="card-text booking-price"><span>Price: </span> <span class="booking-price-value">{{ booking.totalPrice }}</span></p> <!-- booking price -->
            <a class="btn btn-bwm" routerLink="#">Go to Rental</a> <!-- link to rental detail -->
          </div>
          <div class="card-footer text-muted">
            Created {{ booking.createdAt }} <!-- booking createdAt -->
          </div>
        </div>
      </div>
    </ng-container>
    <div class="col-md-8 offset-2" *ngIf="userBookings && userBookings.length === 0">
      <div class="alert alert-warning">
        <p class="text-center">
          You don't have any Bookings created. Go to Rentals section and book your place today.
        </p>
        <p class="text-center">
          <a class="btn btn-dark" routerLink="#">Available Rentals</a>
        </p>
      </div>
    </div>
  </div>
</section>
