<div [ngStyle]="style">
  <input
    *ngIf="isActiveInput"
    class="{{ className }}"
    type="{{type}}"
    [(ngModel)]="entity[entityField]"
    [value]="entity[entityField]"
    (keyup.enter)="updateEntity(); isActiveInput = false">
  <span
    class="{{ className }} inline"
    *ngIf="!isActiveInput"
    (dblclick)="isActiveInput = true">{{ transform(entity[entityField]) }}</span>
  <div class="inline" *ngIf="isActiveInput">
    <button class="btn btn-dark btn-delete" (click)="cancelUpdate()">Cancel</button>
  </div>
</div>
