<div [ngStyle]="style">
  <textarea
    *ngIf="isActiveInput"
    class="{{ className }}"
    rows="{{rows}}"
    cols="{{cols}}"
    [(ngModel)]="entity[entityField]"
    [value]="entity[entityField]"
    (keyup.enter)="updateEntity(); isActiveInput = false">
  </textarea>
  <span
    class="{{ className }}"
    *ngIf="!isActiveInput"
    (dblclick)="isActiveInput = true">{{ entity[entityField] }}</span>
  <div *ngIf="isActiveInput">
    <button class="btn btn-dark btn-delete" (click)="cancelUpdate()">Cancel</button>
  </div>
</div>
