<div [ngStyle]="style">
  <select
    *ngIf="isActiveInput"
    class="{{ className }}"
    [(ngModel)]="entity[entityField]"
    (change)="updateEntity(); isActiveInput = false">
    <option
      [selected]="!entity[entityField]" disabled>
      ...
    </option>
    <option
      *ngFor="let option of options"
      [ngValue]="option">
      {{option}}
    </option>
  </select>
  <span
    class="{{ className }} inline"
    *ngIf="!isActiveInput"
    (dblclick)="isActiveInput = true">{{ entity[entityField] }}</span>
  <div class="inline" *ngIf="isActiveInput">
    <button class="btn btn-dark btn-delete" (click)="cancelUpdate()">Cancel</button>
  </div>
</div>
